<!DOCTYPE html>
<html ng-app="meuModulo">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Angular JS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>

<body ng-controller="indexController">

<header class="container">	
	<h2 ng-bind="titulo"></h2>
</header>

<main class="container">
	<div class="row">
		<input type="text" ng-model="busca.email" placeholder="Busca">
	</div>

	<table class="striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Nota1</th>
				<th>Nota2</th>
				<th>Nota3</th>
				<th>Média</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="aluno in alunos | filter:busca">
				<td>{{aluno.nome}}</td>
				<td>{{aluno.email}}</td>
				<td>{{aluno.nota1}}</td>
				<td>{{aluno.nota2}}</td>
				<td>{{aluno.nota3}}</td>
				<td>{{aluno.media}}</td>
			</tr>
		</tbody>
	</table>
</main>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="../lib/angular/angular.min.js"></script>
<script type="text/javascript">
	angular.module("meuModulo",[])
	.controller("indexController",function($scope){
		$scope.titulo = "Sistema com Angular JS";
		$scope.alunos = [
			{nome: "Camila",email:"camila@mail.com",nota1:65,nota2:80,nota3:55},
			{nome: "Rodolpho",email:"rodolpho@mail.com",nota1:75,nota2:80,nota3:55},
			{nome: "Murilo",email:"murilo@mail.com",nota1:65,nota2:60,nota3:55},
			{nome: "João",email:"joao@mail.com",nota1:95,nota2:80,nota3:55},
			{nome: "Ana",email:"ana@mail.com",nota1:65,nota2:30,nota3:55}
		];

		var init = function(){
			$scope.alunos.forEach(function(aluno){
				aluno.media = media(aluno);
			});
		};
		
		var contar2 = 0;
		var media = function(Aluno){
			console.log(contar2++);
			var media = (Aluno.nota1 + Aluno.nota2 + Aluno.nota3)/3;
			return media.toFixed(2);
		};

		var contar = 0;
		$scope.media = function(Aluno){
			console.log(contar++);
			var media = (Aluno.nota1 + Aluno.nota2 + Aluno.nota3)/3;
			return media.toFixed(2);
		};

		init();


	})

</script>
</body>
</html>